nav{
    background-color: rgb(255, 251, 251);
}

.collapse {
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
}

h5 {
    font-size: 25px;
}
.love {
    font-family: 'Great Vibes', cursive;
    text-decoration: none;
    color: black;
    margin-top: 1.3rem;
}