<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--bootstraps-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!--styles-->
  <link rel="stylesheet" href="/style/dragon.css" />
  <link rel="stylesheet" href="/style/nav.css" />
  <title>I love Sara!!!</title>
  <!--font-->
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar P-4">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" href="">
        <img class="icon" src="/image/icono.png" alt="Logo" width="50" height="40"
          class="d-inline-block align-text-top" /></a>
      <a class="love" href="/views/inicio.html">
        <h5>I love you</h5>
      </a>

      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/views/login.html">Login</a>
          <a class="nav-link" href="/views/bts.html">bts</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <!--columna-1-->
      <div class="col-6" id="dragon" >
        <div id="texto">
          <video width="600" height="500" controls>
            <source src="/video//dragon.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
      </div>
      <div class="col-3">

      </div>

      <!--columna-1-->
      <div class="col-2 mt-3" >
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/image/SARA_1.jfif" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>I LOVE YOU</h5>
                <p>"Tu sonrisa ilumina mi día, tu risa me hace sentir vivo, eres mi todo, mi eterno amor."</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/image/SARA_2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>"Tu sonrisa ilumina mi día, tu risa me hace sentir vivo, eres mi todo, mi eterno amor."</p>
              </div>
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div><!--fin de la linea-->


    <div class="row">

      <!--columna-2-->
      <div class="col-3" >

      </div>
      <!--columna-1-->
      <div class="col-3" >
        &nbsp;
      </div>

      <!--columna-2-->
      <div class="col-3" >
        &nbsp;
      </div>
      <!--columna-3-->
      <div class="col-3" >
        &nbsp;
      </div>





    </div>


  </div><!--div container-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
</body>

</html>